{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
Profile | block.super
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'assets/css/details.css' %}">
{% endblock %}


{% block header %}

{% endblock %}

{% block content %}
<div class="container" style="align-items: flex-start">
    <h2>Welcome ({{request.user}})</h2>
</div>
<div class="container">
    <div class="row " style="align-items: stretch">
        <div class="col-6 border-container">
            <div class="row" style="height: 100%">
                <div class="col-12">
                    Name: <span>
                {% if request.user.username %}
                    {{request.user.username}}
                {% else %}
                    N/A
                {% endif %}
              </span>
                </div>
                <div class="col-12">
                    Email: <span>
                        {% if request.user.email %}
                            {{request.user.email}}
                        {% else %}
                            N/A
                        {% endif %}
                      </span>
                </div>
                <div class="col-12">
                    Role: <span>
                        {% if request.user.is_superuser %}
                            Admin
                        {% else %}
                            User
                        {% endif %}
                      </span>
                </div>
                <div class="col-12">
                    <button class="btn-6 btn-danger" onclick="urlRedirect(`{% url 'delete_user' request.user.id %}`)">Delete Account</button>
                </div>
            </div>
        </div>
        <div class="col-6 border-container">
            <div class="row">
                <div class="col-12">
                    <h2>Change Password</h2>
                </div>
                <div class="col-12">
                    <form method="POST" class="form">
                        {% csrf_token %}
                        <div class="input-container">
                            <label for="old_password">Old Password</label>
                            <input type="password" name="old_password" id="old_password"
                                   placeholder="Enter your old password">
                        </div>
                        <div class="input-container">
                            <label for="new_password">New Password</label>
                            <input type="password" name="new_password" id="new_password"
                                   placeholder="Enter your new password">
                        </div>
                        <div class="input-container">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" name="confirm_password" id="confirm_password"
                                   placeholder="Confirm your new password">
                        </div>
                        <input type="submit" name="Submit" value="Submit" id="signup-button" class="btn-6 btn-dark">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}