{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
Profile | block.super
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'assets/css/details.css' %}">
{% endblock %}


{% block header %}

{% endblock %}

{% block content %}
<div class="container" style="align-items: flex-start">
    <h2>Welcome ({{request.user}})</h2>
</div>
<div class="container">
    <div class="row " style="align-items: stretch">
        <div class="col-6 border-container">
            <div class="row" style="height: 100%">
                <div class="col-12">
                    Name: <span>
                {% if request.user.username %}
                    {{request.user.username}}
                {% else %}
                    N/A
                {% endif %}
              </span>
                </div>
                <div class="col-12">
                    Email: <span>
                        {% if request.user.email %}
                            {{request.user.email}}
                        {% else %}
                            N/A
                        {% endif %}
                      </span>
                </div>
                <div class="col-12">
                    Role: <span>
                        {% if request.user.is_superuser %}
                            Admin
                        {% else %}
                            User
                        {% endif %}
                      </span>
                </div>
                <div class="col-12">
                    {% if request.user.is_authenticated %}
                        <button class="btn-6 btn-success" onclick="urlRedirect(`{% url 'update_user' request.user.id %}`)">Update Data</button>
                    {% endif %}
                </div>
                <div class="col-12">
                    {% if request.user.is_authenticated %}
                        <button class="btn-6 btn-danger" onclick="urlRedirect(`{% url 'delete_user' request.user.id %}`)">Delete Account</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-6 border-container">
            <div class="row">
                <div class="col-12">
                    <h2>Change Password</h2>
                </div>
                <div class="col-12">
                    <form method="POST" class="form">
                        {% csrf_token %}
                        <div class="input-container">
                            <label for="old_password">Old Password</label>
                            <input type="password" name="current_password" id="old_password"
                                   placeholder="Enter your current password">
                        </div>
                        <div class="input-container">
                            <label for="new_password">New Password</label>
                            <input type="password" name="new_password" id="new_password"
                                   placeholder="Enter your new password">
                        </div>
                        <div class="input-container">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" name="re_password" id="confirm_password"
                                   placeholder="Confirm your new password">
                        </div>
                        <input type="submit" name="Submit" value="Submit" id="signup-button" class="btn-6 btn-dark">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container border-container">
    <div class="w-100">
        <h2 class="text-left">Your favorite books</h2>
    </div>
    <div class="row" id="borrowed_book_list">
        {% if request.user.wishlist.count == 0 %}
            <div class="col-12">
                <h2 class="text-center">No books in favorite yet</h2>
            </div>
        {% else %}
            {% for item in request.user.wishlist.all %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <img src={{item.book.image.url}} alt="book image">
                    <div class="card-body">
                        <span class="id" style="display: none;">{{item.book.id}}</span>
                        <div style="display: flex;justify-content: space-between;align-items: center;width: 93%">
                            <h2 class="card-title">{{item.book.title}}</h2>
                            {% if request.user.is_authenticated %}
                                {% if item.book|in_wishlist:request.user.id %}
                                <img class="love-icon" src="{% static 'assets/icons/heart-solid.svg' %}" onclick="urlRedirect(`{% url 'toggle_book_in_wishlist' item.book.id %}`)" alt="">
                                {% else %}
                                <img class="love-icon" src="{% static 'assets/icons/heart-regular.svg' %}" onclick="urlRedirect(`{% url 'toggle_book_in_wishlist' item.book.id %}`)" alt="">
                                {% endif %}
                            {% endif %}
                        </div>
                        <span>author: {{item.book.author}}</span>
                        <span>category: {{item.book.category}}</span>
                        <span>rating: {{item.book.rating}}</span>

                        <div class="row w-100">
                            <div class="col-12 text-center">
                                <button class="btn-6 btn-dark" onclick="urlRedirect(`{% url 'book_details' item.book.slug %}`)">
                                    details
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        {% endif %}


    </div>
</div>



{% endblock %}