{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
 Book Details | block.super
{% endblock %}

{% block style %}


<link rel="stylesheet" href="{% static 'assets/css/details.css' %}">

{% endblock %}

{% block content %}

<div class="container details-container">
    <div class="row">
        <div class="col-sm-6 col-md-3 ">
            <img class="w-100" id="bookImg" src="{{object.image.url}}" alt="">
        </div>

        <div class="col-9 text-data">
            <div>ID: <span id="bookID"> {{object.id}}</span></div><br/>
            <div>book Title:  <span id="bookTitle"> {{object.title}}</span></div><br/>
            <div>author:  <span id="bookAuthor"> {{object.author}}</span></div><br/>
            <div>category:  <span id="bookCategory"> {{object.category}}</span></div><br/>
            <div>viewers: <span id="bookViewers">  {{object.views}}</span></div><br/>
            <div>rating:  <span id="bookRating">  {{object.rating}}{% if object.rating != '~' %}/5{% endif %} </span></div><br/>
            <div>price per day: <span id="bookPrice">  {{object.price}}$</span></div><br/>
            <div>available: <span id="bookAvailable">  {{object.available|not}}</span></div><br/>


            <button class="btn-2 btn-dark" onclick="urlRedirect('borrow_book.html')">Borrow</button>
        </div>
    </div>
    <div class="row">
        <h2>Description: </h2>
        <div id="bookDescription" style="word-break: break-word;">
            {{object.description}}
        </div>
    </div>

</div>


{% endblock %}


