{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
Book Details | block.super
{% endblock %}

{% block style %}


<link rel="stylesheet" href="{% static 'assets/css/details.css' %}">

{% endblock %}

{% block content %}

<div class="container details-container">
    <div class="row">
        <div class="col-sm-6 col-md-3 ">
            <img class="w-100" id="bookImg" src="{{object.image.url}}" alt="">
        </div>

        <div class="col-9 text-data">
            <div>ID: <span id="bookID"> {{object.id}}</span></div>
            <br/>
            <div>book Title: <span id="bookTitle"> {{object.title}}</span></div>
            <br/>
            <div>author: <span id="bookAuthor"> {{object.author}}</span></div>
            <br/>
            <div>category: <span id="bookCategory"> {{object.category}}</span></div>
            <br/>
            <div>viewers: <span id="bookViewers">  {{object.views}}</span></div>
            <br/>
            <div>rating: <span id="bookRating">  {{object.rating}}{% if object.rating != '~' %}/5{% endif %} </span>
            </div>
            <br/>
            <div>price per day: <span id="bookPrice">  {{object.price}}$</span></div>
            <br/>
            <div class="row" style="display:flex;flex-direction: row;align-items: center">
                <div class="col-3">available: <span id="bookAvailable">  {{object.is_borrowed|not}}</span></div>
                <div class="col-9">
                    {% if object|in_wishlist:request.user %}
                    <img class="love-icon" src="{% static 'assets/icons/heart-regular.svg' %}" onclick="urlRedirect(`{% url 'toggle_book_in_wishlist' object.id %}`)" alt="">
                    {% else %}
                    <img class="love-icon" src="{% static 'assets/icons/heart-solid.svg' %}" onclick="urlRedirect(`{% url 'toggle_book_in_wishlist' object.id %}`)" alt="">
                    {% endif %}
                </div>
            </div>
            <br/>

            {% if object.is_borrowed %}
            {% if request.user.id == object.borrower.id %}
            <button class="btn-2 btn-dark" onclick="urlRedirect('{% url 'return_book' object.slug %}')">Return</button>
            {% endif %}
            {% else %}
            <button class="btn-2 btn-dark" onclick="urlRedirect('{% url 'borrow_book' object.slug %}')">Borrow</button>
            {% endif %}
        </div>
    </div>
    <div class="row border-container">
        <h2>Description: </h2>
        <div id="bookDescription" style="word-break: break-word;">
            {{object.description}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 border-container">

            <div class="row" style="justify-content: space-between">
                <div class="col-3">
                    <h2 style="text-decoration: underline">Reviews </h2>
                </div>
                {% if not request.user|is_not_object_owner:object.ratings.all %}
                <div class="col-3 text-right">
                    <button class="btn-dark btn-3" onclick="urlRedirect(`{% url 'add_rating' object.slug %}`)">Add review</button>
                </div>
                {% endif %}
            </div>


            {% if object.ratings.count > 0 %}
            <div id="bookReviews">
                {% for ratings in object.ratings.all %}
                {% if ratings.user == request.user %}
                <div class="review " style="margin-bottom: 20px">

                    <div class="border-container">
                        <div class="row" style="border-bottom: 3px solid white;padding-bottom: 5px">
                            <div class="col-8">

                                <span class="reviewer">({{ratings.user}})</span>
                                <span class="review-date">{{ratings.updated_at|date:"Y-m-d"}}</span>
                            </div>
                            {% if request.user == ratings.user %}
                            <div class="col-2">
                                <button class="btn-6 btn-danger" style="margin: 0"  onclick="urlRedirect(`{% url 'delete_rating' object.slug ratings.slug %}`)">Delete</button>
                            </div>
                            <div class="col-2">
                                <button class="btn-6 btn-success" style="margin: 0" onclick="urlRedirect(`{% url 'update_rating' object.slug ratings.slug %}`)">Update</button>
                            </div>
                            {% endif %}
                        </div>
                        <span class="review-content">{{ratings.rating}}/5</span>

                        <div class="review-content" style="word-break: break-word;">{{ratings.review}}</div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}


                {% for ratings in object.ratings.active %}
                {% if ratings.user != request.user %}
                <div class="review " {% if not forloop.last %} style="margin-bottom: 20px" {% endif %}>

                    <div class="border-container">
                        <div style="border-bottom: 3px solid white">
                            <span class="reviewer">({{ratings.user}})</span>
                            <span class="review-date">{{ratings.updated_at|date:"Y-m-d"}}</span>
                        </div>
                        <span class="review-content">{{ratings.rating}}/5</span>

                        <div class="review-content" style="word-break: break-word;">{{ratings.review}}</div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            {% else %}
            <div>No reviews yet</div>
            {% endif %}

        </div>


    </div>
</div>


    {% endblock %}