{% extends "base.html" %}
{% load custom_filters %}
{% load static %}


{% block title %}
Book List | block.super
{% endblock %}
{% block content %}

<div class="container">


    {% if user.is_superuser %}
    <div class="row">
        <div class="col-12">
            <button class="btn-6 btn-dark" onclick="urlRedirect('{% url 'add_book' %}')"> Add new book</button>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <form class="col-12 search-box">
            <input name="q"  placeholder="Search..." type="search" id="search" value="{{q}}">
            <select name="search_by" id="search_by">
                <option value="all" {% if search_by == 'all' %} selected {% endif %}>search by</option>
                <option value="title" {% if search_by == 'title' %} selected {% endif %}>Title</option>
                <option value="author" {% if search_by == 'author' %} selected {% endif %}>Author</option>
                <option value="description" {% if search_by == 'description' %} selected {% endif %}>description</option>
                <option value="category" {% if search_by == 'category' %} selected {% endif %}>Category</option>
            </select>

             <select name="order_by" id="order_by">
                <option value="all" {% if order_by == 'all' %} selected {% endif %}>order by</option>
                <option value="price_desc" {% if order_by == 'price_desc' %} selected {% endif %}>price desc</option>
                <option value="price_asc" {% if order_by == 'price_asc' %} selected {% endif %}>price asc</option>
                <option value="rating_desc" {% if order_by == 'rating_desc' %} selected {% endif %}>rating desc</option>
                <option value="rating_acs" {% if order_by == 'rating_acs' %} selected {% endif %}>rating acs</option>
                <option value="views_desc" {% if order_by == 'views_desc' %} selected {% endif %}>views desc</option>
                <option value="views_asc" {% if order_by == 'views_asc' %} selected {% endif %}>views asc</option>
                <option value="time_desc" {% if order_by == 'time_desc' %} selected {% endif %}>time_desc</option>
                <option value="time_acs" {% if order_by == 'time_acs' %} selected {% endif %}>time acs</option>
            </select>
            <button class="btn-1 btn-dark"> search</button>
        </form>
    </div>

    <div class="row" >
        <div class="col-3 filter-box-parent">
            <h3 class="header">Filter</h3>
            <div class="filter-box w-100">

                <form id="filter_form" class="form">
                        <div class="input-container">
                            <label for="available">Borrowing state</label>
                            <select name="available" id="available" class="form-control" class="input">
                                <option value="">All</option>
                                <option value="True" {% if available %} selected {% endif %} >Available</option>
                                <option value="False"{% if available %} selected {% endif %} >Borrowed</option>
                            </select>
                        </div>
                        <div class="input-container">
                            <label for="rating">Rating</label>
                            <select name="rating" id="rating" class="form-control" class="input">
                                <option value="0">All</option>
                                {% for i in 5|my_range %}
                                    <option value="{{i}}" {% if rating == i %} selected {% endif %}>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-container">
                            <h4>Price</h4>
                            <label for="price_from">From</label>
                            <input type="number" name="price_from" id="price_from" class="form-control" placeholder="Price" class="input" value="{{price_from}}" min="0">
                            <label for="price_to">to</label>
                            <input type="number" name="price_to" id="price_to" class="form-control" placeholder="Price" class="input" value="{{price_to}}" min="0">
                            <button class="btn-6 btn-dark" style="margin-top: 24px">Filter</button>
                        </div>
                </form>
            </div>
        </div>
        <div class="col-9">

            <div class="row " id="book_list_user">
            {% for book in books %}


            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src={{book.image.url}} alt="book image">
                    <div class="card-body">
                        <span class="id" style="display: none;">{{book.id}}</span>
                        <h2 class="card-title">{{book.title}}</h2>
                        <span>author: {{book.author}}</span>
                        <span>category: {{book.category}}</span>
                        <span>available: {{book.is_borrowed|not}}</span>
                        <span>price: {{book.price}}</span>
                        <div class="row w-100">
                            <div class="col-12 text-center">
                                <button class="btn-6 btn-dark" onclick="urlRedirect(`{% url 'book_details' book.slug %}`)">
                                    details
                                </button>
                                {% if user.is_superuser %}
                                <button class="btn-6 btn-dark" onclick="urlRedirect(`{{ book.get_update_url }}`)">Update</button>
                                <button class="btn-6 btn-dark" onclick="urlRedirect(`{{ book.get_delete_url }}`)"> Delete</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
            </div>
    </div>


</div>


{% endblock %}
{% block script %}

<!--<script type="module" src="{% static 'assets/js/book_list_user.js' %}"></script>-->

{% endblock %}