{% extends "base.html" %}
{% load static %}
{% block title %}Update Book | {{block.super}} {% endblock %}
{% block content %}


<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-container">
        <label for="bookImage">book image:</label>
        <div style="display: flex;align-items: center">

            {{form.image}}
            <img src="{{form.instance.image.url}}" width="80">
        </div>
    </div>
    <div class="input-container">
        <label for="bookTitle">book title:</label>
        {{form.title}}
    </div>
    <div class="input-container">
        <label for="bookAuthor">author:</label>
        {{form.author}}
    </div>
    <div class="input-container">
        <label for="bookCategory">category:</label>
        {{form.category}}
    </div>
    <div class="input-container">
        <label for="bookPrice">price:</label>
        {{form.price}}
    </div>
    <div class="input-container">
        <label for="bookStatus">Borrower:</label>
        {{form.borrower}}
    </div>

    <div class="input-container">
        <label for="bookDescription">description:</label>
        {{form.description}}
    </div>
    <input type="submit" value="Update" id="update-book-button" class="btn-6 btn-dark">


</form>


{% endblock %}

{% block script %}


<script src="{% static 'assets/js/UpdateBook.js' %}"></script>

{% endblock %}
