
{% extends "base.html" %}

{% block title %}Delete Book |  {{ block.super }}{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
 <div class="container">
        <div class="row flex-center">
            <h1>Are you sure you want to delete your rating on this book: <span id="BookName">{{object.book.title}}</span></h1>
        </div>
        <div class="row flex-center">
            <form method="post" class="col-6 no-wrap gap">
                {% csrf_token %}
                <button type="submit" class="btn-3 btn-dark" id="delete_book_button">delete</button>
                <button type="button" class="btn-3 btn-dark" onclick="urlRedirect('{{object.book.get_absolute_url}}')">Cancel</button>
            </form>
        </div>
    </div>
{% endblock %}