{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}
        Library
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'assets/css/utilities.css' %}">
    {% block style %}

    {% endblock %}
</head>
<body>
    <nav id="nav">
        <div class="first">
            <div id="logo"><a href="{% url 'home' %}">Logo</a></div>
            <img src="{% static 'assets/icons/menu.svg' %}" id="toggle-icon" onclick="_=>navToggle()"/>
        </div>
        <ul>
            <li><a href="{% url 'home' %}">home</a></li>
            <li><a href="{% url 'book_list' %}">book list</a></li>
            <li><a href="borrowed_books_list.html">borrowed books</a></li>

            {% if user.is_anonymous %}
                <li><a href="{% url 'signup' %}">sign up</a></li>
                <li><a href="{% url 'login' %}">login</a></li>
            {% else %}

                {% if user.is_superuser %}
                    <li><a href="">dashboard</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">logout</a></li>
            {% endif %}

        </ul>


    </nav>

<header>
    <img src="{% static 'assets/images/header.jpg' %}" alt="header image">
    <h1> Home</h1>
    <h2> welcome in my amazing library</h2>
</header>
    {% block content %}

    {% endblock %}




    <script src="{% static 'assets/js/script.js' %}"></script>
    {% block script %}

    {% endblock %}
</body>
</html>