<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login Page</title>
        <meta name="Description" content="This is the login page for my website">
        <link rel="stylesheet" href="../static/assets/css/utilities.css">
    </head>
    <body>
    <nav id="nav">
        <div class="first">
            <div id="logo"><a href="index.html">Logo</a></div>
            <img src="../static/assets/icons/menu.svg" id="toggle-icon" onclick="_=>navToggle()"/>
        </div>
        <ul>
            <li><a href="user_sign_up.html">sign up</a></li>
            <li><a href="login.html">login</a></li>

            <li><a href="index.html">home</a></li>
            <li><a href="book_list_user.html">book list</a></li>
            <li><a href="book_list.html">book list (admin)</a></li>
            <li><a href="borrowed_books_list.html">borrowed books</a></li>
        </ul>


    </nav>

    <header>
        <img src="../static/assets/images/header.jpg" alt="header image">
        <h1> Books List (Admin)</h1>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <button class="btn-6 btn-dark" onclick="urlRedirect('add_book.html')"> Add new book</button>
            </div>
        </div>
        <div class="w-100">
            <h2 class="text-left">All Books</h2>
        </div>
        <div class="row" id="book_list_admin">

        </div>

    </div>

    <script src="../static/assets/js/script.js"></script>
    <script type="module" src="../static/assets/js/book_list_admin.js"></script>
    </body>
</html>