<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/assets/css/utilities.css">
</head>
<body>
<nav id="nav">
    <div class="first">
        <div id="logo"><a href="index.html">Logo</a></div>
        <img src="../static/assets/icons/menu.svg" id="toggle-icon" onclick="_=>navToggle()"/>
    </div>
    <ul>
        <li><a href="user_sign_up.html">sign up</a></li>
        <li><a href="accounts/login.html">login</a></li>

        <li><a href="index.html">home</a></li>
        <li><a href="book_list_user.html">book list</a></li>
        <li><a href="book_list.html">book list (admin)</a></li>
        <li><a href="borrowed_books_list.html">borrowed books</a></li>
    </ul>


</nav>

<header>
    <img src="../static/assets/images/header.jpg" alt="header image">
    <h1> Borrowed Books</h1>
</header>

<div class="container">
    <div class="w-100">
        <h2 class="text-left">All borrowed books</h2>
    </div>
    <div class="row" id="borrowed_book_list">
    </div>
</div>


<script src="../static/assets/js/script.js"></script>
<script type="module" src="../static/assets/js/borrowd_books_list.js"></script>
</body>
</html>