<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/assets/css/utilities.css">
</head>
<body>
<nav id="nav">
    <div class="first">
        <div id="logo"><a href="index.html">Logo</a></div>
        <img src="../static/assets/icons/menu.svg" id="toggle-icon" onclick="_=>navToggle()"/>
    </div>
    <ul>
        <li><a href="user_sign_up.html">sign up</a></li>
        <li><a href="login.html">login</a></li>

        <li><a href="index.html">home</a></li>
        <li><a href="book_list_user.html">book list</a></li>
        <li><a href="book_list.html">book list (admin)</a></li>
        <li><a href="borrowed_books_list.html">borrowed books</a></li>
    </ul>


</nav>

<div class="container">
    <div class="row flex-center">
        <h1>Are you sure you want to borrow this book: <span id="BookName"> book1</span></h1>
    </div>
    <div class="row flex-center">
        <div class="col-6 no-wrap gap">
            <button class="btn-3 btn-dark" id="borrow_book_button" >borrow</button>
            <button class="btn-3 btn-dark" onclick="urlRedirect('details.html')">Cancel</button>
        </div>
    </div>
</div>

<script src="../static/assets/js/script.js"></script>
<script type="module" src="../static/assets/js/BorrowBook.js"></script>
</body>
</html>