<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/assets/css/utilities.css">
</head>
<body>
<nav id="nav">
    <div class="first">
        <div id="logo"><a href="index.html">Logo</a></div>
        <img src="../static/assets/icons/menu.svg" id="toggle-icon" onclick="_=>navToggle()"/>
    </div>
    <ul>
        <li><a href="user_sign_up.html">sign up</a></li>
        <li><a href="accounts/login.html">login</a></li>

        <li><a href="index.html">home</a></li>
        <li><a href="book_list_user.html">book list</a></li>
        <li><a href="book_list.html">book list (admin)</a></li>
        <li><a href="borrowed_books_list.html">borrowed books</a></li>
    </ul>


</nav>

<header>
    <img src="../static/assets/images/header.jpg" alt="header image">
    <h1> update book</h1>
</header>
<div class="form">
    <div class="input-container">
        <label for="bookImage">book image:</label>
        <div style="display: flex;align-items: center">

            <input  type="file" id="bookImage" required style="width: 200px">
            <img src width="80">
        </div>
    </div>
    <div class="input-container">
        <label for="bookTitle">book title:</label>
        <input type="text" id="bookTitle" placeholder="Enter the book title" required>
    </div>
    <div class="input-container">
        <label for="bookAuthor">author:</label>
        <input type="text" id="bookAuthor" placeholder="Enter the book author" required>
    </div>
    <div class="input-container">
        <label for="bookCategory">category:</label>
        <input type="text" id="bookCategory" placeholder="Enter the book category" required>
    </div>
    <div class="input-container">
        <label for="bookPrice">price:</label>
        <input type="text" id="bookPrice" placeholder="Enter the book price" required>
    </div>
    <div class="input-container">
        <label for="bookStatus">status:</label>
        <select  id="bookStatus">
            <option value="0">available</option>
            <option value="1">not available</option>
        </select>
    </div>

    <div class="input-container">
        <label for="bookDescription">description:</label>
        <textarea id="bookDescription" placeholder="Enter the book description" rows="5" cols="5"></textarea>
    </div>
    <input type="submit" value="Update" id="update-book-button" class="btn-6 btn-dark">


</div>

<script src="../static/assets/js/script.js"></script>
<script type="module" src="../static/assets/js/UpdateBook.js"></script>
</body>
</html>