{% extends "base.html" %}
{% load custom_filters %}
{% load static %}


{% block title %}
Dashboard |  {{ block.super }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<h2 class="text-center">Admin DashBoard</h2>



<div class="container">

    {% include 'dashboard/pages.html' %}


    <div class="w-100">
        <button class="btn-6 btn-dark" onclick="urlRedirect('{% url 'add_category' %}')">Add Category</button>
    </div>
    <hr/>
<h2 class="text-center">All Categories</h2>
    <div class="w-100">
        <table class="w-100">
            <tr style="font-weight: bold">
                <td>id</td>
                <td>title</td>
                <td></td>
                <td></td>
            </tr>

            {% for object in object_list %}

            <tr>
                <td>{{object.id}}</td>
                <td>{{object.title}}</td>

                <td><button class="btn-6 btn-success" onclick="urlRedirect(`{{ object.get_update_url }}`)">Update</button></td>
                <td><button class="btn-6 btn-danger" onclick="urlRedirect(`{{ object.get_delete_url }}`)"> Delete</button></td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>


</div>


{% endblock %}
{% block script %}

<!--<script type="module" src="{% static 'assets/js/book_list_user.js' %}"></script>-->

{% endblock %}