{% extends "base.html" %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">

{% endblock %}


{% block title %}
home | {{ block.super }}
{% endblock %}

{% block content %}





<div id="done-by">
    <h2>Project Done By:</h2>
    <div class="done-items">
        <div class="done-item">Ahmed Mahmoud Saeed 2022040</div>
        <div class="done-item">Sobhi Mohamed Elsayed 20221088</div>
        <div class="done-item">Mostafa Mahmoud Hosny Elfar 20221151</div>
        <div class="done-item">Amr Mohamed Hussein 20221111</div>
        <div class="done-item">Seif Mohamed Hussein 20220507</div>
        <div class="done-item">Mohamed Mahmoud Abdelwahaab 20220523</div>
    </div>

    <div>Section s16/s17</div>
    <div>project 2(Online Library website)</div>
</div>

{% endblock %}
